# ---------------- Python ----------------
__pycache__/
*.py[cod]
*$py.class

# ---------------- Virtual Environment ----------------
env/
venv/
.venv/

# ---------------- Data files ----------------
*.csv
*.xlsx
*.mat
*.json

# ---------------- Word reports ----------------
*.docx

# ---------------- Logs / Temporary ----------------
*.log
*.tmp
*.bak

# ---------------- IDE / Editor ----------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ---------------- Jupyter Notebook ----------------
.ipynb_checkpoints


